{{!-- <div class="container">
  <div class="row">
  {{link}}
    <div class="col">
      <span>Task Title</span>
    </div>
    <div class="col">
      <span>Created</span>
    </div>
  </div>
  {{#each sortedEstimates as |estimate|}}
    {{estimate-template estimate=estimate tagName="div" class="row"}}
  {{/each}}
</div> --}}

<div class="container">
  <div class="items-list estimates">
    <ul class="items-title">
      <li class="row">
        <div class="row-inner">
          <strong class="col">Task Title</strong>
          <strong class="col min text-right">Created</strong>
        </div>
      </li>
    </ul>
    <ul class="items-body">
      {{#each sortedEstimates as |estimate|}}
        {{estimate-template estimate=estimate tagName="div" class="row"}}
      {{/each}}
    </ul>
  </div>
</div>
