<h1 class="task-title">Task Title</h1>

<section class="section">
	<div class="container">
		<h2 class="section-title"><i class="icon e-price-tag"></i>Front-end Development</h2>
		<div class="items-list">
			<ul class="items-title">
				<li class="row">
					<div class="row-inner">
						<strong class="col max">Item</strong>
						<strong class="col min text-center">Hours</strong>
						<strong class="col min text-center">Clarity</strong>
						<strong class="col min text-center">Assumptions and/or Questions</strong>
					</div>
				</li>
			</ul>
			<ul class="items-body">
			{{#each model as |itemsUnit|}}
				{{items-listing items=itemsUnit}}
			{{/each}}
			</ul>
		</div>
	</div>
</section>


{{yield}}
