$font: 'Open Sans', sans-serif;
$white: #fff;
$dark: #202020;
$red: #dd0404;
$green: #04961f;

@mixin box($value){
  -webkit-box-sizing: $value;
     -moz-box-sizing: $value;
      -ms-box-sizing: $value;
          box-sizing: $value}

@mixin shadow($value){
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
      -ms-box-shadow: $value;
          box-shadow: $value}

@mixin radius($value){
  -webkit-border-radius: $value;
     -moz-border-radius: $value;
      -ms-border-radius: $value;
          border-radius: $value}

@mixin transform($value){
  -webkit-transform: $value;
     -moz-transform: $value;
      -ms-transform: $value;
          transform: $value}

@mixin optional-at-root($sel){
  @at-root #{if(not &, $sel, selector-append(&, $sel))}{@content}}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder'){@content}
  @include optional-at-root(':-moz-placeholder'){@content}
  @include optional-at-root('::-moz-placeholder'){@content}
  @include optional-at-root(':-ms-input-placeholder'){@content}}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

.h-center{
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%))}

.v-center{
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%))}

.abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%))}

/* Icons */
@font-face {
  font-family: 'Estimatizator';
  src:
    url('fonts/Estimatizator.ttf?hgvttt') format('truetype'),
    url('fonts/Estimatizator.woff?hgvttt') format('woff'),
    url('fonts/Estimatizator.svg?hgvttt#Estimatizator') format('svg');
  font-weight: normal;
  font-style: normal}

[class^="e-"], [class*=" e-"]{
  font-family: 'Estimatizator'!important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale}

.e-pencil:before{content: "\e905"}
.e-pencil2:before{content: "\e906"}
.e-price-tag:before{content: "\e935"}
.e-clock:before{content: "\e94e"}
.e-clock2:before{content: "\e94f"}
.e-download:before{content: "\e960"}
.e-upload:before{content: "\e961"}
.e-floppy-disk:before{content: "\e962"}
.e-bubble:before{content: "\e96b"}
.e-bubble2:before{content: "\e96e"}
.e-smile2:before{content: "\e9e2"}
.e-sad2:before{content: "\e9e6"}
.e-neutral2:before{content: "\e9f8"}
.e-wondering2:before{content: "\e9fc"}
.e-plus:before{content: "\ea0a"}
.e-cross:before{content: "\ea0f"}
.e-checkmark:before{content: "\ea10"}
.e-file-pdf:before{content: "\eadf"}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video, button, a, input, textarea, select{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section{display: block}
ul{list-style: none}
blockquote, q{quotes: none}
table {
  border-collapse: collapse;
  border-spacing: 0}

a{
  color: inherit;
  &,&:focus,&:hover,&:active{text-decoration: none}}

strong{font-weight: 700}
.text-left{text-align: left}
.text-right{text-align: right}
.text-center{text-align: center}

body{
  position: relative;
  color: $dark;
  font-size: 14px;
  line-height: 1.2;
  font-family: $font;
  font-weight: 300;
  background: url(images/bg-main.png) repeat 0 0}

.row{  
  display: table;
  width: 100%;  
  @include box(border-box);
  .items-title &{padding-left: 8px}
  .items-body &{
    position: relative;
    background: darken($white, 3%);
    border-left: 8px solid darken($white, 30%);
    border-bottom: 1px solid darken($white, 30%);    
    &.clear{border-left-color: $green}
    &.not-clear{border-left-color: $red}
    &.mostly-clear{border-left-color: lighten($green, 50%)}
    &.not-very-clear{border-left-color: lighten($red, 50%)}}
  &-inner{display: table-row}
}

.col{
  padding: 10px;
  display: table-cell;
  vertical-align: middle}

.icon{
  color: inherit;
  font-size: 20px;
  .tool &{@extend .abs-center}
  .section-title &{
    left: 0;   
    @extend .v-center}
  .btn-edit{
    @extend .abs-center}}

.container{
  width: 1200px;
  margin: 0 auto}

.header{
  padding: 30px 0;
  background: $white;
  border-bottom: 2px solid lighten($dark, 5%);
  ul{
    float: left;
    li{
      font-size: 14px;
      padding: 15px 10px;
      font-weight: 700;
      text-transform: uppercase}}}

.home{
  padding: 120px 0 0;
  h3{
    font-size: 60px;
    margin: 0 0 50px}
  h4{
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0}}

.logo{
  display: block;
  margin: 0 auto;
  width: 187px;
  height: 44px;
  background: url(images/main-logo.png) no-repeat 0 0;
}
.task-title{
  color: darken($white, 10%);
  background: $dark;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 15px 0;
  .container{
    position: relative;
    .btn{
      @extend .v-center;
      right: 0;
    }
  }
}

.section{
  margin: 0;
  background: darken($white, 10%);
  @include shadow(0 2px 5px 0 transparentize($dark, 0.7));
  padding: 0 0 20px}

.section-title{
  color: $white;
  background: $dark;
  font-size: 20px;
  font-weight: 700;  
  letter-spacing: -1px;  
  text-transform: uppercase;
  h2{
    position: relative;
    @include box(border-box);
    padding: 15px 0 15px 30px}}

.items-list{
  margin: 15px 0;
  background: $white;
  color: $dark; 
  h3{font-weight: 300}}

.items-body{
  >li{
    margin: 0 0 15px;
    border-top: 1px solid darken($white, 30%)}
  ul li {padding-left: 15px}}

.items-title{border-bottom: 10px solid darken($white, 7%)}

.min{width: 150px}
.tool{
  color: darken($white, 10%);
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  &.active{
    color: $dark;
    cursor: pointer;
    &:hover{opacity: 0.7}}}

.btn{
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;  
  @include radius(4px);
  cursor: pointer;
  .icon{
    color: inherit;
    font-size: inherit}
  &.iconed{
    padding-left: 40px;
    position: relative;
    &.big{padding-left: 50px}
    .icon{
      @extend .v-center;
      left: 20px}}
  &-add{
    color: $white;
    background: $dark;
    &:hover{background: lighten($dark, 30%)}}
  &-delete{
    color: $white;
    background: darken($red, 5%);
    &:hover{background: darken($red, 15%)}}
  &-edit{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0;
    font-size: 20px;    
    right: -40px;
    @extend .v-center;
    &:hover{opacity: 0.5}
    .icon{@extend .abs-center}}
  &.big{
    font-size: 20px;
    margin: 0 5px; 
    text-transform: uppercase}
  .buttons &{position: relative}
  &.full{
    width: 100%;
    margin: 0}}
.buttons{margin-top: 30px}

.input-wrap{
  .form-block &{margin: 0 0 15px}
  input, textarea, select{
    display: block;
    font-size: 14px;
    font-family: $font;
    width: 100%;
    height: 40px;
    line-height: 20px;
    padding: 10px;
    @include box(border-box);
    border: 1px solid $dark;
    background: $white;
    &:focus{border-color: darken($white, 30%)}
    @include placeholder{
      color: lighten($dark, 50%);
      font-family: $font;
    }
  }
  textarea{
    resize: vertical;
    overflow: auto}}

.edit-tools{
  display: none;
  padding: 15px 18px;
  margin: 0 0 15px;
  background: darken($white, 3%);
  border-bottom: 3px solid darken($white, 30%)}

.add-wrap{
  margin: 0 0 5px;
  padding: 0 0 5px;
  border-bottom: 1px solid darken($white, 30%);
  .input-wrap{margin: 10px 0}
  p{padding: 10px 0}
  h4{
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    .btn{
      right: 0;
      @extend .v-center}}}

.back{display: none}
.on-edit{
  .front{
    position: absolute;
    opacity: 0;
    z-index: -1}
  .col{vertical-align: top}
  .back,.edit-tools{display: block}}

.form-block{
  width: 30%;
  margin: 30px auto}
.alert{
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0;
  font-weight: 700;
  &.alert-danger{color: $red}
  &.alert-success{color: $green}}