<header class="header">
	<div class="container">
		<h1 class="task-title">Task Title</h1>
	</div>
</header>

<section class="section">
	<div class="container">
		<h2 class="section-title"><i class="icon e-price-tag"></i>Front-end Development</h2>
		<div class="items-list">
			<ul class="items-title">
				<li class="row">
					<div class="row-inner">
						<strong class="col max">Item</strong>
						<strong class="col min text-center">Hours</strong>
						<strong class="col min text-center">Clarity</strong>
						<strong class="col min text-center">Assumptions and/or Questions</strong>
					</div>
				</li>
			</ul>
			<ul class="items-body">
				<li>
					<div class="row-wrap">
						<div class="row">
							<div class="row-inner">
								<div class="col max">
									<h3>HTML5/CSS3 slicing - 4 pages (responsive, 3 break points)</h3>
								</div>
								<div class="col min text-center">
									20
								</div>
								<div class="col min text-center">
									<span>Undefined</span>
								</div>
								<div class="col min text-center">
									<span class="tool"><i class="icon e-bubble"></i></span>
								</div>
							</div>
						</div>
						<div class="edit-wrap">
							dfsdfd
						</div>
						<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
					</div>										
					<ul>
						<li>
							<div class="row-wrap">
								<div class="row not-clear">
									<div class="row-inner">
										<div class="col max">
											<h3>Home page</h3>
										</div>
										<div class="col min text-center">
											20
										</div>
										<div class="col min text-center">
											<span>Not Clear</span>
										</div>
										<div class="col min text-center">
											<span class="tool"><i class="icon e-bubble"></i></span>
										</div>
									</div>
								</div>
								<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
							</div>							
						</li>
						<li>
							<div class="row-wrap">
								<div class="row not-very-clear">
									<div class="row-inner">
										<div class="col max">
											<h3>About Us page</h3>
										</div>
										<div class="col min text-center">
											20
										</div>
										<div class="col min text-center">
											Not Very Clear
										</div>
										<div class="col min text-center">
											<span class="tool"><i class="icon e-bubble"></i></span>
										</div>
									</div>
								</div>
								<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
							</div>							
							<ul>
								<li>
									<div class="row-wrap">
										<div class="row clear">
											<div class="row-inner">
												<div class="col max">
													<h3>About Us page requirement 1</h3>
												</div>
												<div class="col min text-center">
													20
												</div>
												<div class="col min text-center">
													<span>Clear</span>
												</div>
												<div class="col min text-center">
													<span class="tool"><i class="icon e-bubble"></i></span>
												</div>
											</div>
										</div>
										<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
									</div>									
								</li>
								<li>
									<div class="row-wrap">
										<div class="row mostly-clear">
											<div class="row-inner">
												<div class="col max">
													<h3>About Us page requirement 2</h3>
												</div>
												<div class="col min text-center">
													20
												</div>
												<div class="col min text-center">
													<span>Mostly Clear</span>
												</div>
												<div class="col min text-center">
													<span class="tool"><i class="icon e-bubble"></i></span>
												</div>
											</div>
										</div>
										<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
									</div>									
								</li>
							</ul>
						</li>
						<li>
							<div class="row-wrap">
								<div class="row not-clear">
									<div class="row-inner">
										<div class="col max">
											<h3>Contact page</h3>
										</div>
										<div class="col min text-center">
											20
										</div>
										<div class="col min text-center">
											Not Clear
										</div>
										<div class="col min text-center">
											<span class="tool active"><i class="icon e-bubble"></i></span>
										</div>
									</div>
								</div>
								<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
							</div>							
							<ul>
								<li>
									<div class="row-wrap">
										<div class="row clear">
											<div class="row-inner">
												<div class="col max">
													<h3>Contact page requirement 1</h3>
												</div>
												<div class="col min text-center">
													20
												</div>
												<div class="col min text-center">
													<span>Clear</span>
												</div>
												<div class="col min text-center">
													<span class="tool"><i class="icon e-bubble"></i></span>
												</div>
											</div>
										</div>
										<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
									</div>									
								</li>
								<li>
									<div class="row-wrap">
										<div class="row mostly-clear">
											<div class="row-inner">
												<div class="col max">
													<h3>Contact page requirement 2</h3>
												</div>
												<div class="col min text-center">
													20
												</div>
												<div class="col min text-center">
													<span>Mostly Clear</span>
												</div>
												<div class="col min text-center">
													<span class="tool"><i class="icon e-bubble"></i></span>
												</div>
											</div>
										</div>
										<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
									</div>									
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<div class="row-wrap">
						<div class="row clear">
							<div class="row-inner">
								<div class="col max">
									<h3>Photo Gallery on Home page (jQuery)</h3>
								</div>
								<div class="col min text-center">
									20
								</div>
								<div class="col min text-center">
									<span>Not Clear</span>
								</div>
								<div class="col min text-center">
									<span class="tool"><i class="icon e-bubble"></i></span>
								</div>
							</div>
						</div>
						<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
					</div>					
				</li>
			</ul>
		</div>

	</div>
</section>

{{outlet}}