<h1 class="task-title">
	<div class="container">Create new estimate</div>
</h1>

<form action="" class="form-block">
	<div class="input-wrap">
		{{input placeholder="Task title"}}
	</div>
	<div class="add-section-wrap">
		<div class="input-wrap">
			<select name="" id="">
				<option value="">Section title</option>
				<option value="">Research and Planning</option>
			</select>
		</div>
		<div class="input-wrap">
			<textarea name="" id="" placeholder="Add description"></textarea>
		</div>
		<div class="text-right">
			<button class="btn btn-add iconed"><i class="icon e-plus"></i>Add section</button>
		</div>		
	</div>
	<div class="buttons text-center">
		<button class="btn big btn-add">Create</button>
	</div>
	
</form>