<h1 class="task-title">
	<div class="container">Create new estimate</div>
</h1>

<div class="container">

{{create-estimate task_id=model.id estimate=model.estimate}}



{{#link-to 'task-list' query_ID class="btn btn-success"}}View my task list{{/link-to}}

{{!-- {{#if model.estimates}}
  {{estimates task=model.task}}
{{else}}
  <div class="alert alert-warning" role="alert">
    <strong>No tasks found :(</strong>
  </div>
{{/if}} --}}

</div>