<h1 class="task-title">
  <div class="container">
    Create new estimate
    <button {{action "logout"}} class="btn big btn-delete">Logout</button>
  </div>
</h1>
{{create-estimate estimate_id=model.id user=model.user}}

<h1 class="task-title">
  <div class="container">My estimates</div>
</h1>

{{#if model.user.estimates}}
  {{estimate-list estimates=model.user.estimates}}
{{else}}
  <div class="container text-center">
    <div class="alert alert-warning">
      <strong>There are no estimates</strong>
    </div>
  </div>  
{{/if}}