<div class="row">
  <div class="col-7">
    <h3>Estimate list</h3>
    {{#if model.user.estimates}}
      {{estimate-list estimates=model.user.estimates}}
    {{else}}
      <div class="alert alert-warning" role="alert">
        <strong>No estimates found :(</strong>
      </div>
    {{/if}}
  </div>
  <div class="col-5">
    {{create-estimate estimate_id=model.id user=model.user}}
  </div>
</div>